@import 'open-color/open-color';

// probably need to change later, but for now: https://colorkit.co/color-palette-generator/2bc1c6-91b7e2-5bdeef-672cf9-5197c6-5947aa/
$primary: $oc-teal-9; // #087f5b
$secondary: #5197c6;
$color-3: $oc-teal-5;
$color-4: #5bdeef;
$color-5: #91b7e2;
$color-6: #2bc1c6;

$success: $oc-green-7;
$info: $oc-cyan-7;